<div  style="width=100%;border : 2px solid #FCDDBD;margin-bottom : 2%;font-size:small;">
<p>
This is a small utility to convert the numbers between their binary, octal, decimal and hexadecimal equivalents. <br/>
Input the number in the appropriate text box according to their type and select the base into which they need to be converted to.
</p>
</div>
<div class="math" >

<% form_tag :controller=>'mathfuncs', :action=>'fromdec' do %>
<strong>Convert: </strong> <%= select(:inp, :type, @types) %>  <%= text_field :input, :decimal, :maximum=>30, :value=>'Input here, (maximum 20 digits)' %> 
<%= submit_tag "To" %>
<% end %>

<span style="margin-top:10%;"> <p><strong>Output:</strong></p> </span>
<table border="1" cellspacing=1>
<tr>
<td><strong>Binary:</strong></td>
<td>
<% if @answer_2bin %>
<%= text_field :output, :bin, :value=>@answer_2bin %>
<% else %>
<%= text_field :output, :bin, :value=>'Binary value will be updated here'%>
<% end %>
</td>
</tr>
<tr>
<td><strong>Decimal:</strong></td>
<td>
<% if @answer_2dec %>
<%= text_field :output, :dec, :value=>@answer_2dec %>
<% else %>
<%= text_field :output, :dec, :value=>'Decimal value will be updated here'%>
<% end %>
</td>
</tr>
<tr>
<td><strong>Hexadecimal:</strong></td>
<td>
<% if @answer_2hex %>
<%= text_field :output, :hex, :value=>@answer_2hex %>
<% else %>
<%= text_field :output, :hex, :value=>'Hex value will be updated here'%>
<% end %>
</td>
</tr>
<tr>
<td><strong>Octal:</strong></td>
<td>
<% if @answer_2oct %>
<%= text_field :output, :oct, :value=>@answer_2oct %>
<% else %>
<%= text_field :output, :oct, :value=>'Octal value will be updated here'%>
<% end %>
</td>
</tr>
</table>
</div>

