<% unless @exception_happened %>
<h4>Visitor Details:-</h4>
<table border="1" cellspacing=1>
<% @visit_details.each do |key, value| %>
<tr>
<td><strong><%= key %></strong></td>
<td><%= value %></td>
</tr>
<% end %>
<tr>
<td><strong>Visitor Statistics</strong></td>
<td>
You are our <%= @count%><sup><%=xth(@count) %></sup> overall visitor, 
<% unless @visit_details["Your Place"].split(",")[0] == "(Unknown City?)" %>
<%= @count_place%><sup><%=xth(@count_place) %></sup> from <%= @visit_details["Your Place"].split(",")[0]%>, 
<% end %>
and <%= @count_today%><sup><%=xth(@count_today) %></sup> today.
</td>
</tr>
<% if @weather  != nil %>
<tr><td><strong>Weather Forecast:</strong></td>
<td><%= render :partial => "main/weather", :object => @weather %></td>
</tr>
<% end %>
</table>




<div class="gen_mcontent" >
<small><strong>Famous Thoughts</strong></small><br/>
<em><%= render :partial =>"quotation/show" %></em>
<%# render :partial =>"quotation/new", :object=>@quotation %>
</div>

<% if @word_of_day !=nil %>
<div class="word_of_day" >
<u><strong><a href= "http://www.merriam-webster.com/" target="_blank">Merriam-Webster</a> word of the day</strong></u><br/>
<span style="font-family:tahoma;font-size:large;"><strong><%= @word_of_day["word"]%>:</strong> <%= @word_of_day["meaning"]%></span><br/>
<small><a href="http://www.merriam-webster.com/cgi-bin/mwwod.pl" target="_blank" >Click here to visit merriam-webster for more details </a></small><br/>
<small>This information has been scraped from <strong><a href="http://www.merriam-webster.com/" target="_blank">merriam-webster</a></strong></small>
</div>
<% end %>
<% else %>
OOPS........ Something went wrong and an exception happened... Could you do me a favour and drop me a mail with the error message shown, since I have not enabled error collection yet?.. That will be a huge help!!! Thanks...
<%= @exception_happened %>
<% end %>
