<div class="misc_block">
<% x= Date.today.yday %>
<% y= Date.today.year %>
<% r= Date.civil(y,12,31) %>
<p style="font-family:sans-serif;font-size:small;"><em>Today is <b><%= x%><sup><%= xth(x)%></sup></b> day of this year. There are <b> <%= r.yday-x %> </b>days remaining till the end of the year.</em></p>
</div>
<div class="misc_block">
<% if flash[:notice_unix2human] %>
	      <div id="status" style="color:green;font-size:small;text-align:center;"><%= flash[:notice_unix2human] %></div>
	<% elsif flash[:error_unix2human] %>
	      <div id="errors" style="color:red;font-size:small;text-align:center;"><%= flash[:error_unix2human] %></div>
	<% end %>
<h4>Convert from Unix Timestamp to Date and Time format</h4>
<% form_tag :controller=>'misc', :action=>'index', :subaction=>'unix2human' do %>
<% if @unix2human %>
<small><em>Unix Timestamp: </em></small> <%= text_field :misc, :unixT, :value=>@unixT %><br/>
<small><em>Date and Time:</em></small> <%= text_field :misc, :currDnT, :value=>@unix2human %> <b>GMT <%=@zone%> </b><br/>
<p style="font-size:small;text-align:center;">Unix epoch time <b><%= @unixT %>= <%=@unix2human%> GMT <%=@zone%> </b><br/>
Unix epoch time <b><%= @unixT %>= <%=@gmt_time%> GMT </b>
</p>
<% else %>
<small><em>Unix Timestamp: </em></small> <%= text_field :misc, :unixT, :value=>Time.new.to_i %><br/>
<small><em>Date and Time:</em></small> <%= text_field :misc, :currDnT %> <b>GMT</b>
<% end %>
<%= submit_tag "To Date and Time" %>
<% end %>
</div>
<div class="misc_block">
<% if flash[:notice_human2unix] %>
	      <div id="status" style="color:green;font-size:small;text-align:center;"><%= flash[:notice_human2unix] %></div>
	<% elsif flash[:error_human2unix] %>
	      <div id="errors" style="color:red;font-size:small;text-align:center;"><%= flash[:error_human2unix] %></div>
	<% end %>
<h4>Convert from  Date and Time format to Unix Timestamp</h4>
<% form_tag :controller=>'misc', :action=>'index', :subaction=>'human2unix' do %>
<% if @human2unix %>
<small><em>Date and Time: </em> </small> <%= text_field :misc, :currDnT2, :value=>@humanT  %> <b>GMT </b><br/>
<small><em>Unix Timestamp:</em> </small><%= text_field :misc, :unixT2, :value=>@human2unix%>
<p style="font-size:small;text-align:center;"> Time <b><%= @humanT %> GMT = <%=@human2unix%> </b> unix timestamp since epoch<br/></p>
<% else %>
<% t= Time.new %>
<% off = t.gmt_offset %>
<% gmt_time = t-off %>
<small><em>Date and Time: </em> </small> <%= text_field :misc, :currDnT2, :value=>gmt_time.strftime("%m-%d-%Y %H:%M:%S")  %><b>GMT</b> <br/>
<small><em>Unix Timestamp:</em> </small><%= text_field :misc, :unixT2 %>
<% end %>
<%= submit_tag "To Unix Timestamp" %>
<% end %>
</div>
