<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;.
charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<%= stylesheet_link_tag "style" %>
<title> CGA </title>
</head>
<body style="background-color:#FCF4EC;">
<div id="header">
<h1>My experiments with Rails... </h1>
<p><%= link_to "About site", {:controller=>'main', :action=>'about_site'} %>
<%= link_to "About me", {:controller=>'main', :action=>'about_me'} %>
</p>
</div>
<div id="sidebar">
<p class="side_item"> <%= link_to "Home", {:controller=>'main', :action=>'index'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Number Conversion", {:controller=>'mathfuncs', :action=>'index'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Word Games", {:controller=>'wordgame', :action=>'index'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Google APIs", {:controller=>'googapi', :action=>'index'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Admin", {:controller=>'main', :action=>'login'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item"> 
<script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/112581010116074801021/spider.xml&amp;up_spiderName=Spider&amp;up_backgroundImage=http%3A%2F%2F&amp;up_headColor=FCDDBD&amp;up_bellyColor=9EA9B5&amp;up_legColor=9EA9B5&amp;up_backgroundColor=FCEDDC&amp;up_size=.8&amp;up_speed=1&amp;up_originalLook=0&amp;up_userColor1=&amp;up_userColor2=&amp;up_userColor3=&amp;up_userColor4=&amp;synd=open&amp;w=252&amp;h=84&amp;title=SPIDY&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
<small style= "font-size:x-small;"> <i>Chose spidy over other google gadgets, since it reminds me of my mother who really hates spiders!!! </i></small>
</p>
</div>
<div id="mcontent">
	<% if flash[:notice_layout] %>
	      <div id="status"><%= flash[:notice_layout] %></div>
	<% elsif flash[:error_layout] %>
	      <div id="errors" style="color:red;font-size:small;text-align:center;"><%= flash[:error_layout] %></div>
	<% end %>
	<%= yield %>
</div>
<div id="rightbar">
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to "Clear Session", {:controller=>'main', :action=>'clear'},:class=> "side_link" %></p>
<p class="side_item">  <%= link_to image_tag("/images/FaceBook_32x32.png"), "http://www.facebook.com/share.php?u=#{url_for :protocol=>'http', :host=>'cold-earth-66.heroku.com'}",:class=> "side_link" %>  <%= link_to image_tag("/images/tt-big1.png"), "http://twitter.com/home?status=I visited this site:- #{url_for :protocol=>'http', :host=>'cold-earth-66.heroku.com'}",:class=> "side_link" %></p>

</div>
</body>
</html>
